
svg {
  max-width: 200px;
   
}
body{
  margin: auto;
  max-width: max-content;
}
.colored{
  padding-top: 10px;
}
.mono2 {
  padding-top: 10px;
}

/* Dimensions */
h2{
  color: brown;
}
.effect:hover{
  fill: blue;
}
